h2 {
  font: 300 20px Lato, sans-serif;
  color: #555;
}
h3 {
  color: #333;
  font: 300 14px Lato, sans-serif;
}
p {
  word-wrap: break-word;
  margin: 0;
  border: 1px solid #ccc;
  padding: 10px;
}
p.s16 {
  font-size: 16pt;
}
p.s18 {
  font-size: 18pt;
}
p.s20 {
  font-size: 20pt;
}
p.s26 {
  font-size: 26pt;
}
p.s36 {
  font-size: 36pt;
}

@font-face {
  font-family: 'Lato';
   font-style: normal;
  font-weight: 300;
          src: local('Lato Light'),
               local('Lato-Light'),
               url(/objects/f47efaf0-9ec5-11e5-98ac-001fd05bb228/718cb6ea62e6a5074ff212b28beaf7d1c447b731/raw/Lato2OFLWeb/Lato/fonts/Lato-Light.woff2) format('woff2'),
               url(/objects/f47efaf0-9ec5-11e5-98ac-001fd05bb228/718cb6ea62e6a5074ff212b28beaf7d1c447b731/raw/Lato2OFLWeb/Lato/fonts/Lato-Light.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
   font-style: normal;
  font-weight: normal;
          src: local('Lato Regular'),
               local('Lato-Regular'),
               url(/objects/f47efaf0-9ec5-11e5-98ac-001fd05bb228/718cb6ea62e6a5074ff212b28beaf7d1c447b731/raw/Lato2OFLWeb/Lato/fonts/Lato-Regular.woff2) format('woff2'),
               url(/objects/f47efaf0-9ec5-11e5-98ac-001fd05bb228/718cb6ea62e6a5074ff212b28beaf7d1c447b731/raw/Lato2OFLWeb/Lato/fonts/Lato-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
   font-style: bold;
  font-weight: bold;
          src: local('Lato Heavy'),
               local('Lato-Heavy'),
               url(/objects/f47efaf0-9ec5-11e5-98ac-001fd05bb228/718cb6ea62e6a5074ff212b28beaf7d1c447b731/raw/Lato2OFLWeb/Lato/fonts/Lato-Heavy.woff2) format('woff2'),
               url(/objects/f47efaf0-9ec5-11e5-98ac-001fd05bb228/718cb6ea62e6a5074ff212b28beaf7d1c447b731/raw/Lato2OFLWeb/Lato/fonts/Lato-Heavy.woff) format('woff');
}
